<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <div class="w-full h-full bg-black p-10 text-white">
    <div>
      <a class="px-4 py-3 bg-blue-400 mt-10 rounded-lg" href="/">Back to HOme  </a>
    </div>
    <h1 class="text-3xl tracking-tighter mt-10 mb-5">All Users</h1>
    <div class="users flex gap-3 flex-wrap"> 
      <div class="user w-48 p-4  bg-gray-800  rounded-lg">
        <div class="w-full h-52 rounded-lg bg-red-500"></div>
        <h3 class="text-xl mt-3 tracking-tighter">Karthik Kalburgi</h3>
        <h5 class="text-gray-600">KK@gmail.com</h5>
        <div class="flex gap-3 mt-10">
          <a class="text-gray-400" href="">Edit User</a>
          <a class="text-gray-400 text-red-500" href="">Delete User</a>
        </div>
      </div>


      
      
    </div>
   


     </div>
</body>
</html>